html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  padding: 1em;
  margin: auto;
  font-size: 12pt;
  max-width: 100%;
}


blockquote {
  /* background: #CCC; */
  color: #666666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.8em #EEE solid;
}

code {
  /* background: #ddd; */
  /* color: #0000CC; */
}
